.h-full{
    height: 100vh;
}

.border-card{
    border: 4px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.icon{
    width: 35px;
    height: 35px;
}

.back-button{
    outline: none;
    border: none;
    background-color: transparent;
}